.footer {
  background-color: #000;
  padding: 2rem 1rem;

  nav a {
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    display: inline-block;

    &:not(:first-child) {
      margin-left: 1rem;
    }

    &.active {
      color: #930;
    }
  }
}
